@use './common.scss' as *;
@use './responsive.scss';

#wrap {
    background-color: #f9f9f9;
    header {
        padding:0 70px; position:fixed; top:0; left: 0; right: 0;   
        @include flex-row; justify-content: space-between; align-items: center;
        background-color: $color-white;z-index: 999;height:75px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        nav {
            ul {
                @include flex-row; gap: 80px;
                li {
                    button{
                        color:#bbb;
                        transition: color 0.3s;
                    }
                    &:hover button {
                        color:#777
                    }
                }
                .active {
                    button {
                        color:#222;
                    }
                    &:hover button {
                        color:#222
                    }
                }
            }
        }
        .logo {
            max-width: 60px; display: block;
            img {width: 100%; height: auto;}
        }
    }
    main {
        height: 100vh;
        .swiper-wrapper {
            width: 100%;
        }
        > div {height:100vh;box-sizing: border-box;} 
        #home {
            background-image: url(../images/pattern/main_bg_1.jpg);
            @include bgimg; width: 100%; position: relative;
            .home_inner {
                position: absolute; 
                top:50%;left:50%; transform:translate(-50%, -50% );
                .year {color: transparent;-webkit-text-stroke: 1px #222;font-size: 40px;
                    font-weight:$font-weight-bold ;  
                    position: absolute;left: -8%; top: -35%;
                }
                .title {font-size: 100px;font-weight: $font-weight-bold;color: #222;}
                .name {font-size: 22px; font-weight: 300; color: #222;
                    position: absolute; right:-13%;
                }
            }
        }
        #profile {
            .profile_inner{
                padding: 200px 350px;
                @include flex-row;  justify-content: space-between;
                .section {
                    font-size: $font-size-18;font-weight: $font-weight-semi;
                    color:#00D6FF;
                }
                .left_content {
                    position: relative;
                    .introduction { position: absolute; top: -80px;
                        font-size: 24px;white-space: nowrap; line-height: 150%;
                        span {font-weight: $font-weight-medium}
                        em {font-weight: $font-weight-semi;color:#00D6FF}
                    }
                    @include flex-col; gap:20px;
                    .row {
                        @include flex-col; gap:10px;
                        padding: 10px;
                        .row_in { 
                            .years { font-size: $font-size-12; color: #999;}
                            .name {}
                        }
                    }
                    .picture{
                        margin: 0 auto;
                        width: 177px;
                        height: 236px;
                        img {
                            width: 100%; height: 100%;
                            object-fit: cover;
                        }
                        
                    }
                    .about {
                        .row_top {
                            @include flex-row; gap: 10px;
                            .name {
                                font-size: 18px;font-weight:$font-weight-medium
                            }
                        }
                        .row {
                            @include flex-row; gap: 15px;
                        }
                    }
                    .license{}
                    .education{}
                }
                .right_content {
                    width:650px;
                    margin-bottom:20px;
                    .section {}
                    .skill_wrap {
                        padding:12px 10px;
                        .skill_category {
                            margin-bottom: 20px;
                            .category_title{
                                position:relative;
                                font-size: 17px;font-weight: 500;margin-bottom:12px;
                                margin-left: 20px;
                                &::after {
                                    content: ''; display: block;border:1px solid #00D6FF;
                                    width: 8px;height: 8px; position: absolute; bottom:50%;
                                    transform: translateY(50%); left:-20px;
                                }
                            }
                            .skill-list{
                                @include flex-col; gap:10px;
                                .skill-item {
                                    @include flex-row; justify-content: space-between;
                                    
                                    dt {
                                        position: relative;
                                        padding-left: 30px;
                                        &::after {
                                            content: ''; display: block;background-color: #00D6FF;
                                            width: 4px;height: 4px; position: absolute; bottom:50%;
                                            transform: translateY(50%); left:10px
                                        }
                                    }                                
                                    dd { background-color: #fff; font-size:$font-size-15;padding:0 5px;}
                                }
                            }
                        }
                    }
                }
            }
        }
        #project {
            .project_inner {
                .swiper{
                    position:relative;
                    height: 100vh;
                    .swiper-wrapper {
                        .swiper-slide {
                            display: flex;
                            .left_info{
                                padding:170px 50px 0;
                                flex: 0 0 33%; 
                                .top {
                                    .sequence {font-size:20px;}
                                    .title {margin-top: 10px;font-size: 56px; font-weight:$font-weight-bold;
                                        span {font-size:32px; margin-left: 10px;}
                                    }
                                }
                                .desc {
                                    @include flex-col; gap:25px;
                                    padding:145px 0 200px;
                                    dt {font-size: 18px;display: flex;justify-content: end;
                                        width: 110px; align-items: center; font-weight: $font-weight-medium;
                                    }
                                    dd {justify-content: start;}
                                    .desc_period {@include flex-row;gap: 20px;align-items: center;}
                                    .desc_contribution {@include flex-row;gap: 20px;align-items: center;}
                                    .desc_tool {@include flex-row;gap: 20px;align-items: center;}
                                }
                                .proto_btn {
                                    @include flex-row; gap:20px; position: relative;
                                    .prototype {width: 100%; height: 50px; color: #fff;
                                        display:flex;align-items: center; justify-content: center;
                                        border-radius: 7px;transition: background-color 0.4s;
                                    }
                                    .figma {width: 100%; height: 50px;color: #aaa;
                                        background: #eee;border-radius: 7px;
                                        display:flex;align-items: center; justify-content: center;
                                        transition: background-color 0.4s, color 0.4s; position: relative; z-index: 40;
                                    }
                                    .original_site {
                                        color: #777;font-size: 13px; 
                                        position: absolute; right: 0; bottom: -30px;
                                        img {transform: translateY(12%);}
                                    }
                                }
                            }
                            .mockup_img {
                                position: absolute; max-width: 1500px; top:-5%; right:-15%;
                                img {width: 100%; height: auto;}z-index: 20;
                            }
                            .tablet_mockup {
                                position: absolute; max-width: 500px; top: 24%; right:36%;
                                img {width: 100%; height: auto;} z-index:10;
                            }
                            .phone_mockup {
                                position: absolute; max-width: 150px; top: 48%; right:38%;
                                img {width: 100%; height: auto;} z-index:30;
                            }
                            .project_bg{flex: 1;}
                        }
                        .project_01 {
                            .left_info{
                                .sequence{
                                    color: #F18DBD ;
                                }
                                .prototype{
                                    background-color: #F18DBD ;
                                    &:hover {
                                        background-color: #E078A9;
                                    }
                                }
                                .figma:hover{
                                    background: #eecadb ;
                                    color:#fff
                                }
                            }
                            .project_bg {background: linear-gradient(
                                90deg,
                                #F18DBD 0%,    /* 시작 - 진한 핑크 */
                                #F7BBD3 33%,  /* 중간 - 파스텔 톤 */
                                #FEEAF3 66%, /* 끝 - 거의 화이트 */
                                #f9f9f9 100% 
                                );
                            }
                        }
                        .project_02 {  
                            .mockup_img {
                                max-width:4000px;height:1400px;top:-18%; right:-15%;
                                img {width: 100%; height: 100%;object-fit: cover;}
                            }
                            .left_info{
                                .sequence {color:#E38B8C}
                                .prototype{
                                    background: #E38B8C;
                                    &:hover {
                                        background-color: #D16A6B;
                                    }
                                }
                                .figma:hover{
                                    background: #eed2d3;
                                    color:#fff
                                }
                            }
                            .project_bg {
                                background: linear-gradient(
                                90deg,
                                #E38B8C 0%,   /* 진한 로즈 */
                                #F0B2B3 33%, /* 파스텔 로즈 */
                                #FDE6E6 66%,/* 거의 화이트에 가까운 핑크 */
                                #f9f9f9 100%
                            );}
                            }
                            .project_03 {
                                .left_info{
                                    .sequence{ 
                                        color: #EBD29B ;
                                    }
                                    .prototype{
                                        background-color: #EBD29B ;
                                        &:hover {
                                            background-color:#D9BD84;
                                        }
                                    }
                                    .figma:hover{
                                        background:#e7dcc3 ;
                                        color:#fff
                                    }
                                }
                                .project_bg { background: linear-gradient(
                                    90deg,
                                    #EBD29B 0%,    /* 시작 - 따뜻한 라이트 옐로우 */
                                    #F3E3C1 33%,  /* 중간 - 파스텔 베이지 */
                                    #FFF7EB 66%,  /* 끝 - 아이보리 화이트 */
                                    #f9f9f9 100%  /* 끝 - 아이보리 화이트 */
                                    );
                                }
                            }
                            .project_04 {
                                .left_info{
                                    .sequence {color: #87A6EE;}
                                    .prototype{
                                        background: #87A6EE;
                                        &:hover {
                                            background-color: #6E8ED9;
                                        }
                                    }
                                    .figma:hover{
                                        background: #c3cee7;
                                        color:#fff
                                    }
                                }
                                .project_bg {
                                    background: linear-gradient(
                                        90deg,
                                        #87A6EE 0%,
                                        #b3bee2 33%,
                                        #f9f9f9 66%,
                                        #f9f9f9 100%
                                        );
                                    }
                                .mockup_img {
                                    max-width:4000px;height:1400px;top:-18%; right:-15%;
                                    img {width: 100%; height: 100%;object-fit: cover;}
                                }
                            }
                        }
                    .pagination_btn {
                        position: absolute;bottom:35px; left: 22px;
                        width: 100px; 
                        .next_prev_btn {
                            position: absolute;right:-5px; z-index: 100;bottom: 5px;
                            .swiper-button-next, .swiper-button-prev {
                                top:-40px; color: #aaa;
                                transition: color 0.3s;
                                width:30px;
                            }
                            .swiper-button-next svg , .swiper-button-prev svg{
                                fill:currentColor;
                            }
                            .swiper-button-next {
                                left:24px
                            }
                            .swiper-button-next:hover,.swiper-button-prev:hover{
                                color:#333
                            }
                        }
                        .swiper-pagination {color: #555; font-size: 14px;}
                        .swiper-pagination-total{ color: #777;}
                    }   
                }
            }
        }
        #banner_details {
            padding: 0 350px;width: 100%;
            position: relative;  
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {font-size: 24px;font-weight: $font-weight-bold;
                color: #00D6FF; text-align: center;
                position: absolute; 
                left: 50%;
                transform: translateX(-50%);
                top:80px;
            }
            .banner_details_inner {
                height: 675px;
                display: flex;
                flex-direction: column;
                gap: 15px; 
                #design_top_swiper {
                    width: 100%;margin-bottom: 15px;
                    height: 530px;
                    .swiper-wrapper {
                        transition-timing-function: linear !important; 
                        .swiper-slide {

                        }
                    }
                }
                #design_bottom_swiper {
                    width:100%;
                    height: 130px;
                    .swiper-wrapper {
                        transition-timing-function: linear !important; 
                        .swiper-slide {
                        }
                    }
                }
            }
        }
        #contact {
            background-image: url(../images/pattern/main_bg_1.jpg); @include bgimg;
            width: 100%;
            position: relative;
            .contact_inner {
                position: absolute; top:50%;left:50%; transform:translate(-50%, -50% );
                .center {
                    @include flex-col;@include flex-center;
                    .sub {font-size: 24px; font-weight: 300;
                        em {font-weight: $font-weight-semi;color: #00D6FF;}
                    }
                    .main {font-size: 82px; font-weight: 700;}
                }
                .contact_info {
                    @include flex-col;@include flex-center; gap:10px; 
                    position: absolute; bottom:-300px; left:50%;transform: translateX(-50%);
                    .address {font-size: 15x;}
                    .phone {font-size: 15x;}
                    img {
                        width: 150px; height: 150px;
                    }
                }
            } 
        }
    }
    footer {}
}